# Dependencies
node_modules

# Build output
.output
.vercel
/.svelte-kit
/build
coverage/

# Env & secrets
.env
.env.*
!.env.example
doppler.json

# OS
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/
playwright/.cache/

# IDE
.idea/
.vscode/
*.swp

# Misc
package-lock.json
