node_modules

# Output
.output
.vercel
/.svelte-kit
/build
coverage/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Supabase
supabase/.temp/
supabase/.branches/

# IDE
.idea/
*.swp
